In [4]:
from prettytable import prettytable as pt
myTable = pt.PrettyTable(['name','gender','class','age'])
#myTable.add_column(['section'])
myTable.add_row(['siri','F','5502','30'])


print(myTable)

+------+--------+-------+-----+
| name | gender | class | age |
+------+--------+-------+-----+
| siri |   F    |  5502 |  30 |
+------+--------+-------+-----+